{% load i18n %}
<li class="event-item">
    <div class="event-time">
        <span class="start-time">{{ event.start_time|date:"H:i" }}</span>
        <span class="start-time">{% if event.end_time %}{{ event.end_time|date:"H:i" }}{% endif %}</span>
    </div>
    <div class="event-name">{{ event.name }}</div>
    <span class="event-area">{{ event.area.name }}</span>
    <div class="collapse-container">
        <p class="event-description">{{ event.description|linebreaksbr }}</p>
        
        {% if event.newsitem_set.all %}
        <div class="event-news-container">
            <strong>{% trans "News about this event" %}</strong>
            {% for news in event.newsitem_set.all %}
                <div class="event-news-item">
                    <span class="event-news-time">{{ news.time|date:"D H:i" }}</span>
                    <strong class="event-news-title">{{ news.title }}</strong>
                    <p class="event-news-content">{{ news.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        
    </div>
</li>
